.display-5{
	color: yellow;
	position: ;	
}
.lead{
	color:red;
}
.imgback{
	background-image: url('atelier.jpg');
	background-position: center;
	background-repeat: no-repeat;
	filter: brightness(1.0);
}
.dropdown-item{
	background-color:dark;
}
.Logocard{
	border-left-width: 1150px;
}
.modal-body2{
	text-align: center;
}
.accordion-body{
	text-align: center;
}